<div xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Our shelter in <span th:text="${center.getCity.name()}"></span></span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                    <div class="row pb-3">
                        <div class="col-12 pb-1" sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div>

                                </div>
                                <div class="ml-2">
                                    <div class="btn-group ml-2">
                                        <button type="button" class="btn btn-sm btn-light">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:each="pet : ${petsList}" class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" th:src="${pet.getUrl()}" alt="">
                                    <div class="product-action" sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a class="btn btn-outline-dark btn-square" href="" ><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href="" ><i class="fa fa-trash"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-info"></i></a>
                                    </div>
                                    <div class="product-action" sec:authorize="hasRole('ROLE_USER')">
                                        <a class="btn btn-lg" th:href="@{'/petsList/details/{id}' (id=${pet.getId()})}">See more <i class="fas fa-paw"></i></a>
                                    </div>
                                    <div class="product-action" th:if="${#request.getRemoteUser() == null}">
                                        <a class="btn btn-lg" th:href="@{'/petsList/details/{id}' (id=${pet.getId()})}">See more <i class="fas fa-paw"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <h4> <strong th:text="${pet.getName()}"></strong>
                                        <th:block th:if="${pet.getGender().name() == 'FEMALE' }">
                                            <small>(<i class="fa fa-venus female-sign"></i>)</small>
                                        </th:block>
                                        <th:block th:if="${pet.getGender().name() == 'MALE' }">
                                            <small>(<i class="fa fa-mars male-sign"></i>)</small>
                                        </th:block>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <span class="pet_info_div_strong" th:text="${pet.getAge()}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
            </div>

            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%" height="250px"></iframe>
                </div>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i><span th:text="${center.getCity.name()}"></span></p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i> <span th:text="${center.getAddress()}"></span></p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
                </div>
            </div>
        </div>
    </div>
</div>